<section class="card">
  <div class="card-body">
    <h1>Nosotros</h1>
    <p>Somo un equipo altamente diciplinado y comprometidos al servicio del cliente, cumpliendo altos estandares de altaneria altanos que nos enaltecen de altura.
    </p>
  </div>
</section>
