<div class="jumbotron mt-4" className="bg-red">
  <h1 class="display-4">Mantenedor KnowlTeckk!</h1>
  <p class="lead">Recepción de Servicio Técnico</p>
  <hr class="my-4">
  <p>Servicio tecnico de celulares y pc, venta de accesorios</p>
  <a class="btn btn-primary btn-lg" href="http://www.nuevacumbre.cl" role="button">NuevaCumbre</a>
</div>

<div className="text-xl bg-red ml-5 mt-8">taildwind</div>